# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars.json
terraform/lambda.zip
terraform/crash.log

# Node / frontend
node_modules/
dist/
dist-ssr/
*.local

# OS / editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
